<div class="profile footer-col">
  <h3 class="page-heading">Alumni</h3>
  <div>Adarsh Gorremuchu, <span class="program">MS in Data Analytics Engineering '24</span></div>
  <div>Poojitha Anuvalasetty, <span class="program">MS in Data Analytics Engineering '25 (in progress)</span></div>
  <div>Victoria Gonzales, <span class="program">BS in Statistics &amp; CDS '24 (Program Analyst at National Science Foundation)</span></div>
  <div>Tulsi Shrivastava, <span class="program">MS in Data Analytics Engineering '24 (Data Analyst at Fairfax County DFS)</span></div>
  <div>Rodrigo Plaza, <span class="program">BS in Business '24 &amp; OSCAR Fellow</span></div>
  <div>Joel Adeniji, <span class="program">BS in Computer Science '23 (Software Engineer at CGI)</span></div>
  <div>Nnamdi Chibuzor Ojibe, <span class="program">BS in Computer Science '23 (Software Engineer at Recidiviz)</span></div>  
  <div>Huldah Merlin Kolli, <span class="program">MS in Data Analytics Engineering '24 </span></div>
  <div>Mark Edwin Peterson, <span class="program">Ph.D. in Cultural Studies (in progress)</span></div>  
  <div>Ishana Shinde, <span class="program">MS in Computer Science '23 (Cloud Tech Resident at Google)</span></div>
  <div>Samriddhi Dashora, <span class="program">MS in Computer Science '23 (Software Engineer at Barclays)</span></div>
  <div>Rutuja Shinde, <span class="program">MS in Data Analytics Engineering '21 (Data Scientist at Mayo Clinic)</span></div>
  <div>Rafael (Hung-Mao) Chen, <span class="program">MS in Computer Science '21 (Ph.D. Program at GMU)</span></div>
  <div>Alexandra Cummings, <span class="program">MS in Data Analytics Engineering '21 (Associate at KPMG)</span></div>
  <div>Tsai-Chin Yu, <span class="program">MS in Data Analytics Engineering '21 (Data Scientist at Montefiore Medical Center)</span></div>
  <div>Theresa (Chun Jou) Lin, <span class="program">MS in Data Analytics Engineering '21 (Data Analyst at Media Storm)</span></div>
  <div>Bezawit G. Challa, <span class="program">BS in Information Technology '21 (Software Developer at General Motors)</span></div>
  <div>Adriana Blindu, <span class="program">BFA in Design '21 &amp; OSCAR Fellow (UX/UI Designer at Capital One)</span></div>
  <div>Tochukwu Anukam, <span class="program">BS in Information Technology '21 &amp; OSCAR Fellow</span></div>
</div>

