<div class="profile footer-col">
  <h3 class="page-heading">Alumni</h3>
  <div>Mark Edwin Peterson, <span class="program">Ph.D. in Cultural Studies '24 (in progress)</span></div>
  <div>Samriddhi Dashora, <span class="program">MS in Computer Science '23 (in progress)</span></div>
  <div>Tsai-Chin (TC) Yu, <span class="program">MS in Data Analytics Engineering '21</span></div>
  <div>Theresa (Chun Jou) Lin, <span class="program">MS in Data Analytics Engineering '21 (First Placement: Media Storm)</span></div>
  <div>Rutuja Shinde, <span class="program">MS in Data Analytics Engineering '21 (First Placement: Mayo Clinic)</span></div>
  <div>Rafael (Hung-Mao) Chen, <span class="program">MS in Computer Science '21 (First Placement: Ph.D. Program at GMU)</span></div>
  <div>Alexandra Cummings, <span class="program">MS in Data Analytics Engineering '21 (First Placement: KPMG)</span></div>
  <div>Bezawit G. Challa, <span class="program">BS in Information Technology '21 (First Placement: General Motors)</span></div>
  <div>Adriana Blindu, <span class="program">BFA in Design '21 &amp; OSCAR Fellow (First Placement: Capital One)</span></div>
  <div>Tochukwu Anukam, <span class="program">BS in Information Technology '21 &amp; OSCAR Fellow</span></div>
</div>


