<div class="profile footer-col">
  <h3 class="page-heading">Alumni</h3>
  <div>Mark Edwin Peterson, <span class="program">Ph.D. in Cultural Studies '24 (in progress)</span></div>  
  <div>Ishana Shinde, <span class="program">MS in Computer Science '23 (in progress)</span></div>
  <div>Samriddhi Dashora, <span class="program">MS in Computer Science '23 (Software Engineer at Barclays)</span></div>
  <div>Rutuja Shinde, <span class="program">MS in Data Analytics Engineering '21 (Data Scientist at Mayo Clinic)</span></div>
  <div>Rafael (Hung-Mao) Chen, <span class="program">MS in Computer Science '21 (Ph.D. Program at GMU)</span></div>
  <div>Alexandra Cummings, <span class="program">MS in Data Analytics Engineering '21 (Associate at KPMG)</span></div>
  <div>Tsai-Chin Yu, <span class="program">MS in Data Analytics Engineering '21 (Data Scientist at Montefiore Medical Center)</span></div>
  <div>Theresa (Chun Jou) Lin, <span class="program">MS in Data Analytics Engineering '21 (Data Analyst at Media Storm)</span></div>
  <div>Bezawit G. Challa, <span class="program">BS in Information Technology '21 (Software Developer at General Motors)</span></div>
  <div>Adriana Blindu, <span class="program">BFA in Design '21 &amp; OSCAR Fellow (UX/UI Designer at Capital One)</span></div>
  <div>Tochukwu Anukam, <span class="program">BS in Information Technology '21 &amp; OSCAR Fellow</span></div>
</div>

<div class="profile footer-col">
  <h3 class="page-heading">Visiting Scholars</h3>
  <div>Minho Shin, <span class="program">Professor at Myongji University (Visiting from March 2023 to Feb. 2024)</span></div>  
  <div>Jaehwan Lee, <span class="program">Associate Professor at the Korea Aerospace University (Visiting from Aug. 2021 to Feb. 2022)</span></div>    
</div>

