
<header class="site-header" role="banner">

  <div class="wrapper">

    <!-- This is not footer, but just using the classes  -->
    <div class="footer-col-wrapper heading">
        <div class="footer-col footer-col-3">
          <a href="/" target="_self"><img id="logo" src="assets/cil_logo.png"></a>
        </div>
        <div class="footer-col footer-col-1"></div>
        <div class="footer-col footer-col-2 menu">
            <div>PEOPLE</div>
            <div>PROJECTS</div>
            <div>PUBLICATIONS</div>
            <div>RESOURCES</div>
        </div>
    </div>

  </div>
</header>