<div class="profile footer-col">
  <h3 class="page-heading">Interns</h3>
  <div>Arnav Machavarapu, <span class="program">Westwood High School ’23 (ASSIP 2022 Summer Intern)</span></div>
  <div>Kaavya Radhakrishnan, <span class="program">Langley High School ’23 (ASSIP 2022 Summer Intern)</span></div>
  <div>Jiwoo Hwang, <span class="program">Thomas Jefferson High School ’24 (ASSIP 2022 Summer Intern)</span></div>
  <div>Scarlett Adams, <span class="program">Langley High School ’24 (ASSIP 2022 Summer Intern)</span></div>
</div>


