<div class="profile footer-col">
  <h3 class="page-heading">Interns</h3>
  <div>Zunayeed Zahir, <span class="program">Ph.D. in IT, GMU '29 (Volunteer Research Intern)</span></div>
  <div>Selina Huining Feng, <span class="program">Ph.D. in IT, GMU '26 (AI-in-Gov Summer GRA)</span></div>
  <div>Yujin Hong, <span class="program">BS in Computer Science, NYU '24 (Volunteer Research Intern)</span></div>
  <div>Ian Prazak, <span class="program">Keystone School '25 (ASSIP 2024 Summer Intern)</span></div>
  <div>Yool Lim, <span class="program">Hendrickson High School '25 (ASSIP 2024 Summer Intern)</span></div>
  <div>Mayuko Karakawa, <span class="program">Stanford Online High School '25 (ASSIP 2024 Summer Intern)</span></div>
  <div>Leah Padovani, <span class="program">BS in InfoSci, UMD '27 (ASSIP 2024 Summer Intern)</span></div>
  <div>Angela Sidhu, <span class="program">BS in Computer Science, GMU '27 (ASSIP 2024 Summer Intern&rarr; Georgetown CS)</span></div>
  <div>Paige Chih-Hsuan Lin, <span class="program">MS in Computer Science, Virginia Tech '24 (Summer 2024 Volunteer Intern)</span></div>
  <div>Leyat Samson, <span class="program">South County High School '24 (ASSIP 2023 Summer Intern&rarr; Virginia Tech CS)</span></div>
  <div>Linh Bui, <span class="program">BS in Computational Data Sci., GMU '24 (ASSIP 2023 Summer Intern&rarr; EBOM)</span></div>
  <div>Stephen Gerson, <span class="program">BS in CS and Econ, William and Mary '26 (ASSIP 2023 Summer Intern)</span></div>
  <div>Megan Lincicum, <span class="program">Lake Braddock Secondary '24 (ASSIP 2023 Summer Intern&rarr; JHU Bio/Chem)</span></div>
  <div>Bailey George, <span class="program">Graphic Design Cert. ’22 (Summer Team Impact 2022 Intern)</span></div>
  <div>Yule Zhang, <span class="program">BS in CS ’22 (Summer Team Impact 2022 Intern&rarr; MS in CS at UC San Diego)</span></div>
  <div>Joel Adeniji, <span class="program">BS in CS ’23 (Summer Team Impact 2022 Intern&rarr; MS in CS at Georgia Tech)</span></div>
  <div>Weilon Price, <span class="program">BS in CS ’23 (Summer Team Impact 2022 Intern&rarr; Software Engineer at Unison)</span></div>
  <div>An Dang, <span class="program">BS in CS ’23 (Summer Team Impact 2022 Intern&rarr; MS in Finance at Georgia State)</span></div>
  <div>Arnav Machavarapu, <span class="program">Westwood High ’23 (ASSIP 2022 Summer Intern&rarr; UC Berkeley Data Science)</span></div>
  <div>Kaavya Radhakrishnan, <span class="program">Langley High ’23 (ASSIP 2022 Summer Intern&rarr; UMCP CS)</span></div>
  <div>Jiwoo Hwang, <span class="program">Thomas Jefferson High ’24 (ASSIP 2022 Summer Intern&rarr; KAIST)</span></div>
  <div>Scarlett Adams, <span class="program">Langley High ’24 (ASSIP 2022 Summer Intern&rarr; Harvard Univ. Applied Math)</span></div>
  <div>Christopher Arraya, <span class="program">Thomas Jefferson High ’22 (ASSIP 2021 Summer Intern&rarr; UNC Chapel Hill CS)</span></div>
</div>

<div class="profile footer-col">
  <h3 class="page-heading">Visiting Scholars</h3>
  <div>Minho Shin, <span class="program">Professor at Myongji University (Visiting from March 2023 to Feb. 2025)</span></div>  
  <div>Jaehwan Lee, <span class="program">Associate Professor at Korea Aerospace University (Visiting from Aug. 2021 to Feb. 2022)</span></div>    
</div>
