
{% assign data = site.data %}
{% if data.people %}
  
  {% assign people = data.people %}
  
  <div class="footer-col-wrapper people">
  {% for person in people %}  
      <div class="profile footer-col">
        <div class="profile-photo">
          {% if person.image %}
            {% assign image_prefix = person.image | slice: 0, 4 %}
            {% if image_prefix == "http" %}
              {% assign image_url = person.image %}
            {% else %}
              {% assign image_url = person.image | prepend: site.baseurl %}
            {% endif %}
            <img class="img-responsive" src="{{ image_url }}" alt="Image of {{ person.name }}">
          {% else %}
            <img class="img-responsive" src="/assets/cil_grey.png" alt="Image of {{ person.name }}">
          {% endif %} 
        </div>
        
          <div class="name">            
            {{ person.name }}            
          </div>       

          <div class="profile-text">
            <div class="profile-title">            
            {{ person.title }}            
            </div>
          {% if person.website %}
            <span class="link"><a href="{{ person.website }}" target="_blank">[web]</a></span>
          {% endif %}
        
          {% if person.email %}
            <span class="link">
            {% assign mail = "mailto:" | append: person.email %}
            <a href="{{ mail }}" target="_blank">[email]</a></span>
          {% endif %}
          </div>
      </div>

  {% endfor %}
   </div>
{% endif %} 