
{% assign data = site.data %}
{% if data.projects %}
  
  {% assign projects = data.projects %}
  
  <div class="footer-col-wrapper projects">
  {% for project in projects %}  
      <div class="project">
        <h4 class="project-title">            
            {{ project.title }}            
        </h4> 

        <div class="littles">
          <span class="p-status"> {{ project.status }} </span>
          <span class="p-fund"> {{ project.fund }} </span>
        </div>

        <div class="project-photo">
          {% if project.image %}
            <img class="img-responsive" src="{{ project.image }}">
          {% else %}
            <img class="img-responsive" src="/assets/cil_grey.png">
          {% endif %} 
        </div>
             
        <div>
          <div class="project-text"> {{ project.description }} </div>


          {% if project.funding %}
            {% if project.website %}
            <span class="link"><a href="{{ project.website }}" target="_blank">{{ project.funding }}</a></span>
            {% else %} 
             <span class="collabo">{{ project.funding }}</span>
            {% endif %}
          {% endif %}

          {% if project.collabo %}
            <div class="collabo">
              <a href="#ack">Collaborators</a>: <span> {{ project.collabo }}</span>
            </div>
          {% endif %}

          {% if project.pub %}
            <div class="p-pub">
              <a href="/publications">Publications</a>: <span> {{ project.pub }}</span>
            </div>
          {% endif %}

          {% if project.system %}
            <div class="p-pub">
              <a href="{{ project.systemlink }}" target="_blank"><span>System: </span></a><span> {{ project.system }}</span>
            </div>
          {% endif %}

        </div>
      </div>

  {% endfor %}
   </div>

   
   <div class="project-note">
    <h3 id="ack">Acknowledgments</h3>
        <p>The presented projects are based on multi-institutional collaboration. Other than the major projects presented above, there are other projects that are either short-term or under exploration. If interested, please contact the CIL members to explore more about possible projects at the intersection of civic technology, local information, and socio-technical systems.</p>
        <p>We thank the sponsors, collaborators, and community members who have made this research program possible.</p>
        <div>
          <img src="/assets/nsf.png">
          <img src="/assets/vbpd_logo.png">
          <img src="/assets/hhs.png">
          <img src="/assets/gmu.png">
          <img src="/assets/fcfrd.png">          
          <img src="/assets/4va.png">          
          <img src="/assets/cci.png">
          <img src="/assets/umd.png">
          <img src="/assets/asu.png">
          <img src="/assets/uci.png">
          <img src="/assets/connecteddmv.png">
          <img src="/assets/emerson.png">
          <img src="/assets/vt.png">
          <img src="/assets/bari.png">
          

      </div>
{% endif %} 