
{% assign data = site.data %}
{% if data.publication %}

<div class="pub-header">
  <a class="page-link" href="#publication">Publications</a>
  <a class="page-link" href="#nonrefereed">Reports</a>
  <a class="page-link" href="#present">Presentations</a>
  <a class="page-link" href="#software">Software</a>
</div>

  
  {% assign items = data.publication %}
  <h3 class="page-heading" id="publication">Refereed Publications</h3>

  <div class="container-fluid">
    <div class="row">
      
  {% for item in items %}  
      <div class="pub"> 
        <span>[{{ forloop.rindex }}]</span>
        <span> {{ item.authors }} </span>
        <span> ({{ item.year }}). </span>
        <span> {{ item.title }}. </span>
        <span class="venue"> {{ item.venue }} </span>{% if item.abb %}<span class="venue">(</span><span class="abb">{{item.abb}}</span><span class="venue">)</span>{% endif %}{% if item.suffix %}<span class="suffix">. {{item.suffix}}</span>{% endif %}
        

        {% if item.link %}
          <span class="link">
            <a href="{{ item.link }}" target="_blank"> {{ item.link }}</a>
          </span>
        {% endif %}

        <span class="type">{{ item.type }} </span>

        {% if item.note %}
          <span class="note"> {{ item.note }} </span>
        {% endif %}
        {% if item.note2 %}
          <span class="note note2"> {{ item.note2 }} </span>
        {% endif %}

      </div>
  {% endfor %}             
                
    </div>
  </div>
  
{% endif %}


<br>
{% if data.nonrefereed %}
  
  {% assign items = data.nonrefereed %}
  <h3 class="page-heading" id="nonrefereed">Non-Refereed Papers and Reports</h3>
  
  <div class="container-fluid">
    <div class="row">
      
  {% for item in items %}  
      <div class="pub"> 
        <span> {{ item.authors }} </span>
        <span> ({{ item.year }}). </span>
        <span> {{ item.title }}. </span>
        <span class="venue"> {{ item.venue }} </span>{% if item.abb %}<span class="venue">(</span><span class="abb">{{item.abb}}</span><span class="venue">)</span>{% endif %}{% if item.suffix %}<span class="suffix">, {{item.suffix}}</span>{% endif %}

        {% if item.link %}
          <span class="link">
            <a href="{{ item.link }}" target="_blank"> {{ item.link }}</a>
          </span>
        {% endif %}

        <span class="type">{{ item.type }} </span>

        {% if item.note %}
          <span class="note"> {{ item.note }} </span>
        {% endif %}
        {% if item.note2 %}
          <span class="note note2"> {{ item.note2 }} </span>
        {% endif %}

      </div>
  {% endfor %}             
                
    </div>
  </div>
    
{% endif %}

<br>
{% if data.present %}
  
  {% assign items = data.present %}
  <h3 class="page-heading" id="present">Selected Presentations</h3>
  
  <div class="container-fluid">
    <div class="row">
      
  {% for item in items %}  
      <div class="pub"> 
        <span> {{ item.authors }} </span>
        <span> ({{ item.year }}). </span>
        <span> {{ item.title }}. </span>
        <span class="venue"> {{ item.venue }} </span>{% if item.abb %}<span class="venue">(</span><span class="abb">{{item.abb}}</span><span class="venue">)</span>{% endif %}{% if item.suffix %}<span class="suffix">, {{item.suffix}}</span>{% endif %}

        {% if item.link %}
          <span class="link">
            <a href="{{ item.link }}" target="_blank"> {{ item.link }}</a>
          </span>
        {% endif %}

        <span class="type">{{ item.type }} </span>

        {% if item.note %}
          <span class="note"> {{ item.note }} </span>
        {% endif %}
        {% if item.note2 %}
          <span class="note note2"> {{ item.note2 }} </span>
        {% endif %}

      </div>
  {% endfor %}             
                
    </div>
  </div>
    
{% endif %}

<br>
{% if data.software %}
  
  {% assign items = data.software %}
  <h3 class="page-heading" id="software">Software</h3>
    <div class="container-fluid">
      <div class="row">

        {% for item in items %}  
        <div class="pub"> 
          <span> {{ item.title }}</span>
          <span> ({{ item.year }}): </span>
          <span class="software">{{item.suffix}}</span>

          {% if item.link %}
            <span class="link">
              <a href="{{ item.link }}" target="_blank"> {{ item.link }}</a>
            </span>
          {% endif %}

        </div>
        {% endfor %} 
      </div>  
    
    </div>
    
{% endif %}

