<div class="home">

  <h3 class="page-heading">Participation in Computing Research</h3>
  CIL is committed to promoting students' participation in computing research. As part of the efforts, CIL has been hosting or participating in George Mason's <a href="https://science.gmu.edu/assip" target="_blank">Aspiring Scientists Summer Internship Program (ASSIP)</a> for providing high school students with research experiences, <a href="https://provost.gmu.edu/initiatives/mason-impact/summer-team-impact-projects" target="_blank">Summer Team Impact Program (STIP)</a> for undergraduate students' participation in computing research in the form of summer internship, and <a href="https://oscar.gmu.edu/students/research-assistantships/" target="_blank">OSCAR Undergraduate Research Assistantship Program</a> for eligible students with Federal Work-Study Award who are interested in computing research. We encourage students to participate in any of these programs to work with CIL.
  <br><br>

  <h3 class="page-heading">For Prospective PhD Applicants</h3>
  <p>Thank you for your interest in working with CIL! We welcome applicants from diverse backgrounds and disciplines. Whether you come from information science, computer science, social sciences, or any other field, what matters most is your curiosity about research and your willingness to grow. Below are some suggestions to help you prepare a strong application, not as strict requirements, but as ways to set yourself up for a productive and rewarding PhD journey.</p>

  <h4>Explore the Research Landscape</h4>
  <p>One of the most valuable things you can do before applying is to familiarize yourself with the literature in areas related to our work, such as Human-Computer Interaction (HCI), Information Science, or Computational Social Science. You don't need to be an expert, but having a sense of the kinds of questions researchers are asking, the methods they use, and the conversations happening in these fields will help you articulate why a PhD is the right path for you and how your interests connect to ongoing research.</p>
  <p>A good starting point is to browse recent proceedings from conferences like <a href="https://chi.acm.org/" target="_blank">ACM CHI</a>, <a href="https://cscw.acm.org/" target="_blank">CSCW</a>, <a href="https://www.asist.org/am/" target="_blank">ASIS&amp;T</a>, or <a href="https://iscss.org/" target="_blank">IC2S2</a>, or journals such as <a href="https://asistdl.onlinelibrary.wiley.com/journal/23301643" target="_blank">JASIST</a>. Reading even a handful of papers that spark your interest can go a long way. You are also encouraged to look at <a href="/publications/">CIL's publications</a> to see if our work resonates with you.</p>

  <h4>Develop and Articulate Your Research Interests</h4>
  <p>A PhD is ultimately driven by your own research questions and intellectual curiosity. Before applying, we encourage you to spend some time developing your research interests, even if they are still evolving. This could take many forms: a written research statement, a blog post reflecting on a topic you care about, a class project that went deeper than expected, a thesis or capstone paper, or even a conversation where you can clearly talk about what excites you about research and why.</p>
  <p>What we are looking for is not a perfectly polished proposal, but evidence that you have begun thinking critically and creatively about problems you want to explore. Being able to describe what you find interesting, why it matters, and how you might approach it, in whatever form feels natural to you, is a strong signal of readiness for doctoral research.</p>

  <h4>Other Ways to Strengthen Your Preparation</h4>
  <p>There is no single "right" way to prepare for a PhD, but here are a few additional things that can help:</p>
  <ul>
    <li><b>Research experience</b>: Any hands-on experience with research, such as working as a research assistant, conducting an independent study, or contributing to a collaborative project, is valuable. This doesn't have to be in our exact area; what matters is that you understand the process of inquiry.</li>
    <li><b>Technical and methodological skills</b>: Depending on your interests, familiarity with methods such as qualitative analysis, survey design, data science, or qualitative data analysis can be helpful. We don't expect mastery at the application stage, but a willingness to learn and a foundation to build on are great.</li>
    <li><b>Writing and communication</b>: The ability to communicate your ideas clearly--whether through writing samples, presentations, or other forms--is essential in academic research.</li>
  </ul>

  <h4>Get in Touch</h4>
  <p>If you have questions about applying or want to discuss whether CIL might be a good fit for your interests, please don't hesitate to reach out to the <a href="mailto:mlee89@gmu.edu" target="_blank">CIL Director</a>. We're happy to chat and help you navigate the process.</p>

<br>
  <h3 class="page-heading">Training Resources</h3>
  <p><a href="https://github.com/gmu-cil/geo-data-carpentry" target="_blank">Geo data carpentry</a>: Examples of how to process geospatial data (e.g., geospatial join, intersection, aggregation, etc.)</p>
  <p><a href="https://github.com/gmu-cil/reproducibility" target="_blank">Reproducibility</a>: Brief introduction to reproducibility in scientific work and practical tools/methods to increase reproducibility of data analytic work and software products.</p>
  <p><a href="/assets/courses/ait722.pdf" target="_blank">AIT722 Syllabus: Theories and Models in Geo-Social Data Analytics</a>: CIL's course syllabus that contains a reading list about geo-social data analysis methods and theories behind them.</p>
  <p><a href="/assets/courses/ait602.pdf" target="_blank">AIT602 Syllabus: Introduction to Research in Applied IT</a>: Introductory materials for students who are interested in learning about scientific research in Information Science.</p>
  <br>


</div>
