
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

#logo {
  max-width: 375px;
}

.front{
  margin: 32px 0 20px 0;
}

div.profile{
  margin: 25px 15px 15px 0;
}

.people .profile-photo{
  width: 213px; 
  height: 213px; 
  overflow: hidden;
  border: 1px solid $grey-color;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.profile-photo img{
  width: 213px;
  height: 213px;
  object-fit: cover;
}

/**
 * Projects
 */

.project-note{
  border-top: 1px solid $grey-color-light;
  padding-top: 10px;
  margin: 50px 0 20px 0;

}
.project-note div{
  text-align: center;
  padding-top: 10px;
}

.project-note img{
  display: inline-block;
  height: 100px;
  padding: 5px 5px 0 5px;
}



@media all and (max-width: 700px) {
  .footer-col-wrapper.projects{
      column-count: 1;
      column-fill: balance;
    }
}

@media all and (min-width: 700px) {
  .footer-col-wrapper.projects{
    column-count: 2;
    column-fill: balance;
  }
  img.front {
    max-width: 50%;
  }
}

.project{
  width: 90%;
  min-width: 300px;
  color: $text-color;
  margin: 20px 5px 10px 5px;
  padding: 10px 15px 15px 15px;
  display: inline-block;
  border: 1px solid $grey-color;
  border-radius: 5px;
  vertical-align: top;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.project h4{
  margin-bottom: 2px;
}
.project-title{
  @include relative-font-size(1.1);
}

.project-text{
  font-size: $base-font-size;
  border-bottom: 1px solid $grey-color;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.littles{
  text-align: right;
}
.p-status, .p-fund{
  @include relative-font-size(0.7);
  color: $background-color;
  background: $grey-color;
  border-radius: 3px;
  padding: 0 4px 0 4px;
  display: inline-block;
  vertical-align: top;
}

.p-pub,
.collabo{
  color: $grey-color;
}

.software{
  color: $grey-color;
}

.pub-header{
  text-align: center;
  vertical-align: top;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  padding: 12px 0 12px 0;
  margin: 15px 0 25px 0;
}

.pub-header a{
  padding: 0 10px 0 10px;
}

.project .project-photo{
  height: 180px; 
  overflow: hidden;
  border: 1px solid $grey-color;
  display: block;
  margin: 5px 0 15px 0;
}

.project-photo img{
  transform: translateY(-19%);
}

.program {
  color: $grey-color;
}

div.name{
  font-size: $base-font-size; 
  color: $text-color;
  text-align: center;
}

.profile-text{
  font-size: $small-font-size;
  text-align: center;
}

.heading .footer-col div{
  font-size: $small-font-size;
}
.heading .footer-col{
  vertical-align: middle;
}
div.menu{
  text-align: right;
  padding: 21px 0 10px 0;  
  margin-left: 10px;
}

footer img{
  width: 40px;
}

footer span{
  vertical-align: middle;
  display: inline-block;
}

footer .footer-col{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  float: none;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

.pub{
  margin: 20px 0 10px 0;
}
.pub .venue{
  font-style: italic;
}
.pub .abb{
  font-style: italic;
  font-weight: 700;
}
.pub .type{
  color: $grey-color;
  font-size: $small-font-size;
  padding: 0 4px 0 4px;
  display: inline-block;
}
.pub .note{
  color: $background-color;
  font-size: $small-font-size;
  background: $brand-color;
  border-radius: 3px;
  padding: 0 4px 0 4px;
  display: inline-block;
}
.pub .note2{
  background: $grey-color;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}



/**
 * Links
 */


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.image_wrapper{
  padding-right: 5px;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

.title,
.subtitle{
  text-align: center;
}

/* Main Page */
.register-button{
  max-width: 270px;
  font-size: 20px;
  text-align: center;
  margin: 40px 0 50px 0;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.register-button a,
.register-button a:visited{
  color: red;
  font-size: 20px;
  border: 1px solid red;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.register-button a:hover{
  color: white;
  background: red;
  font-size: 20px;
  border: 1px solid red;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}



/* Participants */

a,a:visited{
  color: $brand-color;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a:hover{
  color: $brand-color-emph;
  text-decoration: none;
}

div.media-heading{
  font-size: 20px;  
  margin: 0 0 12px 106px;
}

div.comment{
  font-size: 15px;
}

/* Civic Tech Timeline */
#background{
  text-align: center;
  margin-bottom: 30px;
}

#background a{
  font-size: 20px;
}

div.year {
  width: 100px;
  padding-right: 5px;
  font-size: 20px;
  color: $grey-color;  
  float: left;
}