---
layout: default
---

<div class="home">

    <div> CIL is a research group at <a href="https://gmu.edu" target="_blank">George Mason University</a> located in Fairfax, Virginia, who studies the dynamics of local communities, technology-enabled groups, and information infrastructures using computational methods and socio-technical approaches.</div>

    <div class="image_wrapper">
    <img id="front" src="/assets/front.png">
    </div>

    <h3 class="page-heading">News</h3>
    {%- include news.html -%}

    <h3 class="page-heading">Join</h3>
    <div>If you are interested in joining or collaborating with CIL, contact the <a href="mailto:mlee89@gmu.edu" target="_blank">CIL Director</a> through email, please.</div>


</div>


